h2 {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 40px;
	border-bottom: 20px solid #ffb04b;
	line-height: 50px;
}

h3 {
	border-bottom: 10px solid #00a268;
	padding-top: 10px;
	text-align: right;
	padding-left: 5px;
}

body {
	font-family: Helvetica;
	text-transform: lowercase;
	font-size: 20px;
	background-color: #e7f4d1;

}

p {
	text-transform: lowercase;
	font-size: 12px;
	margin-left: 0;
	text-align: right;
	border-right: 40px solid #0070ab;
	padding: 10px 10px 30px 10px;
	
}

.deco5 {
	height: 400px;
	background-color: #ffb04b;
	color: #ffb04b;
	font-size: 3px;
	margin-left: 0;
}

.deco4 {
	height: 350px;
	background-color: #0070ab;
	color: #0070ab;
	font-size: 3px;
	margin-left: 0;
}

.deco3 {
	height: 100px;
	background-color: #00a268;
	color: #00a268;
	font-size: 3px;
	margin-left: 0;
}

.deco2 {
	height: 250px;
	background-color: #0070ab;
	color: #0070ab;
	font-size: 3px;
	margin-left: 0;
}

.deco1 {
	height: 400px;
	background-color: #ffb04b;
	color: #ffb04b;
	font-size: 3px;
	margin-left: 0;
}

